extends layout

block content
	h1= title
	p Welcome to #{title}

	div.container
		div.row
			h3 Current Tickets
			table.table.table-striped.table-responsive
				thead
					tr
						th Ticket Title
						th Content
						th Urgency
						th Department
						th Assigned
						th Status
						th 
				tbody
					each ticket in tickets
						tr
							td #{ticket.title} 
							td #{ticket.content}
							td #{ticket.urgency}
							td #{ticket.department}
							td #{ticket.assigned}
							td #{ticket.status}
							td <a href="/edit/#{ticket._id}">Edit</a> <a href="/destroy/#{ticket._id}">Delete</a>
		div.row
			button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
				| New Ticket

	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title New Ticket
					.modal-body
							form(action="/create", method="post", accept-charset="utf-8")
								div.input-group
									label(for='title')
										input(id='title', type='text', placeholder='Ticket title...', name='title')
								div.input-group
									label(for='content')
										textarea(name='content')
								div.input-group
									label(for='urgency')
										select(name='urgency')
											option(value="Low") Low
											option(value="Medium") Medium 
											option(value="High") High 
								div.input-group
									label(for='department')
										select(name='department')
											option(value="General") General
											option(value="Electrical") Electrical 
											option(value="Welding") Welding
								div.input-group
									label(for='assigned')
										input(id='assigned', type='text', placeholder='Assigned to...', name='assigned')
								div.input-group
									label(for='status')
										select(name='status')
											option(value="Open") Open
											option(value="Closed") Closed 
								div.input-group
									input(type='submit', value='Add Ticket')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close











