extends layout

block content
	h1= title
	p Welcome to #{title}

	div.container
		div.row
			h3 Current Tickets
			table.table.table-striped.table-responsive
				thead
					tr
						th Ticket Title
						th Content
						th Urgency
						th 
				tbody
					each ticket in tickets
						tr
							td #{ticket.title} 
							td #{ticket.content}
							td #{ticket.urgency}
							td <a href="/edit/#{ticket._id}">Edit</a> <a href="/destroy/#{ticket._id}">Delete</a>
		div.row
			h3 Create New Ticket
			form(action="/create", method="post", accept-charset="utf-8")
				div.input-group
					label(for='title')
						input(id='title', type='text', placeholder='Ticket title...', name='title')
				div.input-group
					label(for='content')
						textarea(name='content')
				div.input-group
					label(for='urgency')
						select(name='urgency')
							option(value="low") Low
							option(value="medium") Medium 
							option(value="high") High 
				dib.input-group
					input(type='submit', value='Add Ticket')