extends layout

block content
	h1= title
	p Welcome to #{title}

	div.container
		div.row
			h3 Current Tickets
			table.table.table-striped.table-responsive#myTable
				thead
					tr
						th Ticket Title
						th Description
						th Urgency
						th Department
						th Assigned
						th Status
						th 
				tbody
					each ticket in tickets
						tr
							td #{ticket.title} 
							td #{ticket.description}
							td #{ticket.urgency}
							td #{ticket.department}
							td #{ticket.assigned}
							td #{ticket.status}
							td
								div.btn-group.btn-group-xs
									a(href="/details/#{ticket._id}")
										button.btn.btn-info(type='button') Details
									a(href="/edit/#{ticket._id}")
										button.btn.btn-warning(type='button') Edit
									a(href="/destroy/#{ticket._id}")
										button.btn.btn-danger(type='button') Delete
									//- <a href="/details/#{ticket._id}">Details</a> <a href="/edit/#{ticket._id}">Edit</a> <a href="/destroy/#{ticket._id}">Delete</a>
		div.row
			button.btn.btn-primary.btn-lg(data-toggle='modal', data-target='#myModal')
				| New Ticket

	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h4#myModalLabel.modal-title New Ticket
					.modal-body
							form(action="/create", method="post", accept-charset="utf-8")
								div.form-group
									label(for='title') Title
									input(id='title', type='text', placeholder='Ticket title...', name='title')
								div.form-group
									label(for='description') Description
									input(id='description', type='text', placeholder='Description...', name='description', maxlength='95')
								div.form-group
									label(for='content') Content
									textarea(name='content')
								div.form-group
									label(for='urgency') Urgence
									select(name='urgency')
										option(value="Low") Low
										option(value="Medium") Medium 
										option(value="High") High 
								div.form-group
									label(for='department') Department
									select(name='department')
										option(value="General") General
										option(value="Electrical") Electrical 
										option(value="Welding") Welding
								div.form-group
									label(for='assigned') Assigned To
									input(id='assigned', type='text', placeholder='Assigned to...', name='assigned')
								div.form-group
									label(for='status') Status
									select(name='status')
										option(value="Open") Open
										option(value="Closed") Closed 
								div.form-group
									input(type='submit', value='Add Ticket')
					.modal-footer
						button.btn.btn-default(type='button', data-dismiss='modal') Close
	script
		| $(function() { $('#myTable').tablesorter(); });











